@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: rgb(245, 247, 247);
  margin: 0%;
  padding: 0%;
}

/* Fonts */
@font-face {
  font-family: 'regular';
  src: url('../utils/fonts/nunito-sans.regular.ttf');
}

@font-face {
  font-family: 'semibold';
  src: url('../utils/fonts/nunito-sans.semibold.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../utils/fonts/nunito-sans.bold.ttf');
}

@font-face {
  font-family: 'extrabold';
  src: url('../utils/fonts/nunito-sans.extrabold.ttf');
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}
